In [226]:
import pandas as pd

In [227]:
import matplotlib.pyplot as plt

In [228]:
df_train=pd.read_csv('train.csv')

In [229]:
#df_train.Cabin=df_train.Cabin.fillna("Z")

In [230]:
#df_train.Age=df_train.Age.fillna(df_train['Age'].median())

In [231]:
df_train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [232]:
df_train.isna().count().count()

12

In [233]:
#df_train=df_train.dropna(axis = 0)

In [234]:
#df_train= df_train.drop(['Ticket','Name'], axis=1)

In [235]:
#df_train.isna().count().count()

In [236]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [237]:
#df_train.Cabin=df_train.Cabin.replace(to_replace=r'[0-9]', value='', regex=True)

In [238]:
def funct_normalize(df_train):
    df_train.Cabin = df_train.Cabin.fillna("Z")
    df_train.Age = df_train.Age.fillna(df_train['Age'].median())
    df_train = df_train.dropna(axis=0)
    df_train = df_train.drop(['Ticket', 'Name'], axis=1)
    df_train.Cabin=df_train.Cabin.replace(to_replace=r'[0-9]', value='', regex=True)
    df_train.Cabin=df_train.Cabin.replace(to_replace=r'\s.$', value='', regex=True)
    df_train.Cabin=df_train.Cabin.replace(to_replace=r'\s.$', value='', regex=True)
    df_train.Cabin=df_train.Cabin.replace(to_replace=r'\s.$', value='', regex=True)
    df_train=pd.get_dummies(df_train, dtype='int')
    return df_train

In [246]:
df_exploit=funct_normalize(df_train).drop('Cabin_T', axis=1)

In [247]:
df_exploit

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Cabin_A,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Cabin_Z,Embarked_C,Embarked_Q,Embarked_S
0,1,0,3,22.0,1,0,7.2500,0,1,0,0,0,0,0,0,0,1,0,0,1
1,2,1,1,38.0,1,0,71.2833,1,0,0,0,1,0,0,0,0,0,1,0,0
2,3,1,3,26.0,0,0,7.9250,1,0,0,0,0,0,0,0,0,1,0,0,1
3,4,1,1,35.0,1,0,53.1000,1,0,0,0,1,0,0,0,0,0,0,0,1
4,5,0,3,35.0,0,0,8.0500,0,1,0,0,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,27.0,0,0,13.0000,0,1,0,0,0,0,0,0,0,1,0,0,1
887,888,1,1,19.0,0,0,30.0000,1,0,0,1,0,0,0,0,0,0,0,0,1
888,889,0,3,28.0,1,2,23.4500,1,0,0,0,0,0,0,0,0,1,0,0,1
889,890,1,1,26.0,0,0,30.0000,0,1,0,0,1,0,0,0,0,0,1,0,0
890,891,0,3,32.0,0,0,7.7500,0,1,0,0,0,0,0,0,0,1,0,1,0

In [241]:
#df_train=pd.get_dummies(df_train, dtype='int')

In [242]:
#df_train=df_train.drop('Cabin_T', axis =1)

In [243]:
df_test=pd.read_csv('test.csv')

In [244]:
df=funct_normalize(df_test)

In [245]:
df

,PassengerId,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Cabin_A,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Cabin_Z,Embarked_C,Embarked_Q,Embarked_S
0,892,3,34.5,0,0,7.8292,0,1,0,0,0,0,0,0,0,1,0,1,0
1,893,3,47.0,1,0,7.0000,1,0,0,0,0,0,0,0,0,1,0,0,1
2,894,2,62.0,0,0,9.6875,0,1,0,0,0,0,0,0,0,1,0,1,0
3,895,3,27.0,0,0,8.6625,0,1,0,0,0,0,0,0,0,1,0,0,1
4,896,3,22.0,1,1,12.2875,1,0,0,0,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,27.0,0,0,8.0500,0,1,0,0,0,0,0,0,0,1,0,0,1
414,1306,1,39.0,0,0,108.9000,1,0,0,0,1,0,0,0,0,0,1,0,0
415,1307,3,38.5,0,0,7.2500,0,1,0,0,0,0,0,0,0,1,0,0,1
416,1308,3,27.0,0,0,8.0500,0,1,0,0,0,0,0,0,0,1,0,0,1
417,1309,3,27.0,1,1,22.3583,0,1,0,0,0,0,0,0,0,1,1,0,0